/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body {
  background-color: green;
}

#home {
  height: 100vh;
  width: 100vw;
  background-color: green;
}

#login {
  background-image: url(https://images.unsplash.com/photo-1529480780361-c8cb81eb5735?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80)
}

#rules {

}

#table {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-areas:
    "stats dealer strategy"
    "stats pot strategy"
    "bet player extra"
    "bet controls extra";
  justify-items: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
  background-image: url('./images/blackjacktable.svg');
  background-repeat: no-repeat;
  min-height: 500px;
  min-width: 750px;
  background-position: 50%;
  background-color: green;
}

#controls {
  grid-area: controls;
}

#bet-box {
  grid-area: bet;
}

.betting-chips {
  max-width: 100%;
  height: 8vh;
  margin: 5px;
}

#facedown {

}

.place-bets-marker {
  color: lightblue;
  font-size: 25px;
  font-family: Phosphate-solid;
}

#pot-box {
  grid-area: pot;
}

#stats-box {
  grid-area: stats;
  background-color: white;
  border: 3px solid black;
  border-radius: 5%;
  margin: 5px;
  padding: 5px;
  font-size: 20px;
  font-family: Phosphate-solid;
}

#strategy-box {
  grid-area: strategy;
  background-color: white;
  border: 3px solid black;
  border-radius: 5%;
  margin: 5px;
  padding: 5px;
  font-size: 20px;
  font-family: Phosphate-solid;
}

#extra-box {
  grid-area: extra;
}

#player-container {
  grid-area: player;
  display: flex;
}

#player-hand {
  margin: 10px;
}

#dealer-container {
  grid-area: dealer;
}

#dealer-hand {
}

.bottom-btns {
  border-radius: 100%;
  width: 5em;
  height: 5em;
  background-color: white;
}

.control-btns {
  border-radius: 100%;
  width: 5em;
  height: 5em;
  color: blue;
  font-family: Phosphate-solid;
  border-color: black;
  margin: 1em;
}

.hit-stay-btns {
  border-radius: 100%;
  width: 5em;
  height: 5em;
  border-color: black;
  color: blue;
  font-family: Phosphate-solid;
  margin: 0.5em;
  top: 1em;
  bottom: 1em;
}

@keyframes deal {
  0% {
    transform: translateY(-100%)
  }
  100% {
    transform: translateY(0%)
  }
}

.cards {
  height: 90px;
  width: 60px;
  padding: 2px;
  animation-name: deal;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}
