/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

#home {
  height: 100vh;
  width: 100vw;
  background-color: green;
}

#rules {

}

#table {
  height: 80vh;
  width: 100vw;
  background-image: url('./images/blackjacktable.svg');
  background-repeat: no-repeat;
  min-height: 400px;
  min-width: 600px;
  background-position: 50%;
  margin-top: 25px;
}

#controls {
  border: 3px solid blue;
  position: absolute;
  bottom: 10%
}

#bet-box {
  position: fixed;
  vertical-align: middle;
  text-align: center;
  min-width: 20vw;
  bottom: 10px;
}

.betting-chips {
  max-width: 100%;
  height: 8vh;
  margin: 5px;
}

#facedown {

}

#stats-box {
  position: absolute;
  top: 20%;
  left: 20%;
}

#strategy-box {
  border: 1px solid white;
}

#pot-box {
  vertical-align: middle;
  text-align: center;
}

#player-container {
  border: 1px solid black;
  vertical-align: middle;
  text-align: center;
}

#player-hand {
  padding: 10px;
}

#dealer-container {
  border: 1px solid red;
  vertical-align: middle;
  text-align: center;
}

#dealer-hand {
}


@keyframes deal {
  0% {
    transform: translateY(-100%)
  }
  100% {
    transform: translateY(0%)
  }
}

.cards {
  height: 90px;
  width: 60px;
  padding: 2px;
  animation-name: deal;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}
