body {
  background-color: green;
}

#home {
  height: 100vh;
  width: 100vw;
  background-color: black;
}

#login {
  background-image: url('./images/feltbackground.svg');
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 25% 50% 25%;
  grid-template-areas:
    ". . ."
    ". form ."
    ". . .";
  justify-items: center;
  align-items: center;
}

#inner-login {
  grid-area: form;
}

#login-form {
  font-family: Phosphate-solid, Impact;
  text-align: center;
  color: white;
  text-shadow: 5px 5px 5px black;
}

#login-form div {
  margin: 20px;
  font-size: 150%;
}

#login-form button {
  border-radius: 20%;
  border: 3px solid black;
  width: 4.5em;
  height: 2em;
  background-color: white;
  color: black;
  font-family: Phosphate-solid, Impact;
}

#login-form button:hover {
  background-color: black;
  border: 3px solid white;
  color: white;
}

#login-form input {
  border-radius: 5%;
  text-align: center;
}

#rules {
  background-image: url('./images/feltbackground.svg');
  background-size: cover;
  background-repeat: no-repeat;
  border: 3px solid black;
  color: white;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  font-family: Phosphate-solid, Impact;
}

#table {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-areas:
    "count dealer strategy"
    "count pot strategy"
    "bet player extra"
    "bet controls extra";
  justify-items: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
  background-image: url('./images/blackjacktable.svg');
  background-repeat: no-repeat;
  min-height: 500px;
  min-width: 750px;
  background-position: 50%;
  background-color: black;
  margin-top: 10px;
}

#controls {
  grid-area: controls;
}

#bet-box {
  grid-area: bet;
}

.betting-chips {
  max-width: 100%;
  height: 8vh;
  margin: 5px;
}

.place-bets-marker {
  color: blue;
  background: white;
  text-align: center;
  font-size: 200%;
  font-family: Phosphate-solid, Impact;
}

#pot-box {
  grid-area: pot;
}

#count-box {
  grid-area: count;
  margin-left: 3vw;
}

#inner-count {
  background-color: white;
  color: black;
  border: 3px solid black;
  border-radius: 5%;
  margin: 3vh;
  padding: 3vh;
  text-align: center;
  font-size: 150%;
  font-family: Phosphate-solid, Impact;
}


#strategy-box {
  grid-area: strategy;
  margin-right: 3vw;
}

#inner-strategy {
  background-color: white;
  color: black;
  border: 3px solid black;
  border-radius: 5%;
  margin: 3vh;
  padding: 3vh;
  text-align: center;
  font-size: 150%;
  font-family: Phosphate-solid, Impact;
}

#extra-box {
  grid-area: extra;
}

.insurance-box {
  text-align: center;
  background-color: white;
  border: 2px solid black;
  border-radius: 5%;
  font-family: Phosphate-solid, Impact;
  color: blue;
  font-size: 150%;
  padding: 10px;
}

.insurance-result {
  background-color: white;
  color: black;
  border: 3px solid black;
  border-radius: 5%;
  margin-right: 3vw;
  padding: 3vh;
  text-align: center;
  font-size: 150%;
  font-family: Phosphate-solid, Impact;
}

.btns-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#player-container {
  grid-area: player;
  display: flex;
}

#player-hand {
  margin: 10px;
}

#player-result {
  text-align: center;
  border: 2px solid black;
  border-radius: 5%;
  font-family: Phosphate-solid, Impact;
}

.losing-hand {
  color: red;
  font-size: 120%;
  background-color: black;
}

.winning-hand {
  color: blue;
  background-color: white;
  font-size: 120%;
}

.push-hand {
  color: black;
  background-color: white;
  font-size: 120%;
}

.bust-hand {
  color: red;
  background-color: black;
  font-size: 120%;
}

.blackjack-hand {
  color: green;
  font-size: 120%;
  background-color: white;
}

.surrender-hand {
  color: red;
  background: black;
  font-size: 120%;
}

#dealer-container {
  grid-area: dealer;
}

#dealer-hand {
  margin-top: 30%;
}

.control-btns {
  border-radius: 20%;
  border: 3px solid black;
  width: 6.5em;
  height: 3em;
  background-color: #4CAF50;
  color: white;
  font-family: Phosphate-solid, Impact;
  margin: 0.5em;
}

.control-btns:hover{
  background-color: white;
  color: black;
}

.navbar {
  background-color: black;
  color: white;
  top: 0;
  width: 100%;
  border-bottom: 2px solid white;
  overflow: hidden;
  font-family: Phosphate-solid, Impact;
}

.navbar div {
  color: white;
  text-align: center;
  padding: 1%;
  text-decoration: none;
}

.navbar button {
  border-color: transparent;
  background-color: black;
  color: white;
  padding: 1%;
  text-decoration: none;
  font-family: Phosphate-solid, Impact;
}

.navbar a {
  color: white;
  text-align: center;
  padding: 1%;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #4CAF50;
  color: white;
}

.navbar button:hover {
  background-color: #4CAF50;
  color: white;
}

.left {
  float: left;
}

.right {
  float: right;
}

.footer {
  background-color: black;
  color: white;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 2px solid white;
  font-family: Phosphate-solid, Impact;
}

.footer button {
  border-color: transparent;
  background-color: black;
  color: white;
  padding: 1%;
  text-decoration: none;
  font-family: Phosphate-solid, Impact;
}

.footer div {
  color: white;
  text-align: center;
  padding: 1%;
  text-decoration: none;
}

.footer button:hover {
  background-color: #4CAF50;
  color: white;
}

#hover-stats {
  color: white;
  font-size: 100%;
  background-color: black;
  position: absolute;
  padding: 10px;
  border: 2px solid white;
}

@keyframes deal {
  0% {
    position: relative;
    top: 0.1vh;
  }
  100% {
    position: relative;
    top: 2vh;
  }
}

.cards {
  height: 100px;
  width: 70px;
  border: 2px solid black;
  border-radius: 10%;
}

/* #facedown {
  animation-name: deal;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}

#dealerCard-0 {
  animation-name: deal;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}

#dealerCard-1 {
  animation-name: deal;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
} */

#playerCard-0 {

}

#playerCard-0 {

}
